@charset "utf-8";


@font-face {
  font-family: 'HankenGrotesk';
  src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root{
  --cor0: hsl(0, 100%, 67%) ;
  --cor2: hsl(234, 85%, 45%) ;
  --cor3: hsl(252, 100%, 67%);
  --cor4: hsl(241, 81%, 54%);
  --cor5: hsla(256, 72%, 46%, 1);
  --cor6: hsla(241, 72%, 46%, 0);
}


body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'HankenGrotesk';
}

