@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body{
  background-color: #d6e2f0;
  font-family: "Outfit";
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-conteudo{
  width: 315px;
  height: 484px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}


.qr-code img{
  width: 280px;
  height: 280px;
  border-radius: 15px;
}

.texto h1{
  font-size: 22px;
  font-weight: 700px;
  text-align: center;
  padding: 0px 20px;
}

.texto p{
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: #7b879d;
  padding: 0px 20px;
  margin-top: 20px;
}